@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply max-w-sm w-full h-14 bg-active my-2.5 rounded-xl grid grid-cols-[15%_85%] px-1.5 text-paragraph;
  }

  .input {
    @apply bg-transparent outline-none border-none leading-none text-lg placeholder:text-[#aaa];
  }

  .input-label {
    @apply text-center leading-[55px] text-lg;
  }

  .message-bubble-left {
    @apply relative w-auto max-w-xs min-w-[150px] bg-message ltr:rounded-tl-lg ltr:rounded-br-lg rtl:rounded-tr-lg rtl:rounded-bl-lg p-2 text-white;
  }

  .message-bubble-left-after {
    @apply absolute w-0 h-0 border-t-[8px] border-t-transparent border-l-[8px] ltr:border-l-transparent rtl:border-l-message border-r-[8px] ltr:border-r-message rtl:border-r-transparent bottom-0 ltr:-left-4 rtl:-right-4;
  }

  .message-bubble-right {
    @apply relative w-auto max-w-xs min-w-[150px] bg-message rtl:rounded-tl-lg rtl:rounded-br-lg ltr:rounded-tr-lg ltr:rounded-bl-lg p-2 text-white;
  }

  .message-bubble-right-after {
    @apply absolute w-0 h-0 border-t-[8px] border-t-transparent border-r-[8px] ltr:border-r-transparent rtl:border-r-message border-l-[8px] ltr:border-l-message rtl:border-l-transparent bottom-0 ltr:-right-4 rtl:-left-4;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c:before {
  content: "";
  position: absolute;
  height: 2300px;
  width: 3000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, rgba(117, 83, 178) 0%, #7553b2 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.sign-up:before {
  transform: translate(100%, -50%);
  right: 52%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #EEEFF6;
  transition: background-color 5000s ease-in-out 0s;
}

::-moz-selection {
  color: #7553b2;
}
input::selection {
  color: #7553b2;
}

@media (max-width: 1023px) {
  .c:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .sign-up:before {
    transform: translate(-50%, 100%);
    bottom: 15%;
    right: initial;
  }
}

@media (max-width: 767px) {
  .c:before {
    bottom: 72%;
    left: 50%;
  }

  .sign-up:before {
    bottom: 25%;
    left: 50%;
  }
}

.group:hover .group-hover\:block {
  display: block;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  bottom: -5px;
  left: calc(50% - 5px);
}

.message-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid #7754B2;
  bottom: 0px;
  right: -20px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(238, 239, 246, 0.2);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(238, 239, 246, 0.5);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar::-webkit-scrollbar-track {
  display: none;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 7px;
  background: grey;
  border-radius: 5px;
  background-image: linear-gradient(#7754B2, #7754B2);
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #7754B2;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: #7754B250 0px 0px 0px 8px;
}

input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: #7754B250 0px 0px 0px 11px;
  transition: box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    left 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    bottom 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}